.footer {
    min-width: 1200px;
    min-height: 75px;
    background-color: rgba(13, 18, 26, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.5);
    font-size: 11;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    z-index: 100;
    float: left;
}

.footertext {
    text-align: center;
    text-decoration: none;
}

.footer a {
    color: #228AE3;
    padding: 0.3rem;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
    transition: 0.75s;
}