@font-face {
  font-family: "Roboto Condensed Bold";
  src: url('../fonts/Roboto Condensed/RobotoCondensed-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Condensed BoldItalic";
  src: url('../fonts/Roboto Condensed/RobotoCondensed-BoldItalic.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Condensed Regular";
  src: url('../fonts/Roboto Condensed/RobotoCondensed-Regular.ttf');
  font-weight: bold;
}

body {
  width: 1200px;
  margin: auto;
  height: 100%;
  background-color: #010407;
}

html {
  display: block;
  background-image: url('../img/BG.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

main {
  background-color:  #010407;
  color: #fff;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed Bold';
  font-weight: 300;
  color: #FFFFFF;
  background-color:#228AE3;
  text-align: center;
  transition: all 0.75s;
  width: 130px;
  font-size: 18;
  text-transform: uppercase;
}

a.button:hover {
  color: #228AE3;
  background-color: #FFFFFF;
}

a.button2 {
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed Bold';
  font-weight: 300;
  color: #228AE3;
  background-color:#fff;
  text-align: center;
  transition: all 0.75s;
  width: 130px;
  font-size: 18;
  text-transform: uppercase;
}

a.button2:hover {
  color: #fff;
  background-color: #104b7c;
}

a.button3 {
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed Bold';
  font-weight: 300;
  color: #228AE3;
  background-color:#fff;
  text-align: center;
  transition: all 0.75s;
  width: 200px;
  font-size: 18;
  text-transform: uppercase;
}

a.button3:hover {
  color: #fff;
  background-color: #104b7c;
}

@media all and (max-width: 30em) {
  a.button {
      display: block;
      margin: 0.4em auto;
  }
}